html{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body{
    background-color: #fdf3dd;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.title-container {
    display: flex;
    height: 25vh;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    margin: 3.5em -3.5em;
}


.title {
    font-family: "Marcellus", serif;
    font-size: 4em;
    letter-spacing: 0.3em;
    color: #373d3b;
    align-items: flex-start; 
    text-align: left;
}

.avatar {
    border-radius: 50%;
    width: 240px;
    margin-top: 1.2em;
    margin-bottom: 1em;
}

.subtitle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin: 1em 2.1em 1.2em 2.1em;
}

.subtitle {
    font-family: "Marcellus", serif;
    font-size: 3em;
    color: #7d0600;
    text-align: right;
    margin-bottom: 0.5em;
}

.social-icons {
    display: block ;
}

.social-icons a {
    font-size: 2em; /* Adjust icon size */
    color: #7d0600; /* Default color */
    transition: transform 0.3s ease, color 0.3s ease;
    padding: 0.25em;

}

.social-icons a:hover {
    transform: scale(1.2);
    color: #fa74a0; /* Change color on hover */
}

@media (max-width: 900px) {
    .title-container {
        flex-direction: column; /* Stack title and subtitle vertically */
        align-items: center; /* Center-align both elements */
        height: auto;
        margin: -1em 2.1em -1em; /* Adjust margins */
    }

    .title {
        text-align: center; /* Center-align title */
        font-size: 3em; /* Slightly smaller font size */
        margin-top: 0em; /* Adjust margin */
    }

    .avatar {
        width: 40vw; /* Adjust avatar size */
        margin-top: -2em; /* Adjust margin */
    }

    .subtitle {
        text-align: center; /* Center-align subtitle */
        font-size: 2.5em; /* Slightly smaller font size */
        margin: 0em;
    }

    .subtitle-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em 2.1em 1.2em 2.1em;
    }

    .social-icons {
        text-align: center; /* Center-align social icons */
    }
    .social-icons a {
        display: inline-block; /* Ensure icons are displayed inline for centering */
    }
}


.body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: start;
    margin: 0em 0em;
}

.about-container {
    display: flex;
    border-radius: 28px;
    padding: 3.5em;
    margin: 2em 2em;
    background-color: #fa74a0;
    width: 40VW;
    flex-direction: column;
    align-items: center;
     
}

.aboutme-heading {
    font-family: "Marcellus", serif;
    font-size: 3em;
    text-align: center;
    letter-spacing: 0.1em;
    color: #39252c;
    margin-top: 0em;
    align-items: flex-start; 
}

.aboutme {
    font-family: "Verdana", sans-serif;
    text-wrap: wrap;
    text-align: justify;
    line-height: 2em;
    font-size: 1.35em;
    color: #39252c;
}

@media (max-width: 900px) {
    .body-container {
        margin: 0.2em; /* Adjust margin */
    }
    .about-container {
        width: 90vw; /* Adjust width to take up full width */
        padding: 1.5em; /* Adjust padding */
        margin: 0em 0em 0em 2em; /* Adjust margin */

    }

    .aboutme-heading {
        font-size: 2em; /* Slightly smaller font size */
    }

    .aboutme {
        font-size: 1em; /* Slightly smaller font size */
        text-align: left;
    }
}


.cards-container a:nth-child(1) { grid-area: card1; }
.cards-container a:nth-child(2) { grid-area: card2; }
.cards-container a:nth-child(3) { grid-area: card3; }
.cards-container a:nth-child(4) { grid-area: card4; }
.cards-container a:nth-child(5) { grid-area: card5; }

.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "card1 ."
        ". card2"
        "card3 ."
        ". card4"
        "card5 .";

    gap: 5em;
    padding: 0em 1.5em;
    margin: 2em 2em;

}

.cards-container a:nth-child(n+2) {
    margin-top: -12.5em; /* Move all cards from 2 to 5 upwards */
}

.cards-container a {
    display: block;
    width: 100%;
    min-width: 150px;
    max-width: 300px;
    transition: transform 0.4s ease, box-shadow 0.3s ease;

}

.cards-container a img {
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.15); 
    height: auto;
    width: 100%;
    border-radius: 28px;
}

.cards-container a img:hover {
    transform: scale(1.01);
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.25); 
}

@media (max-width: 900px) {
    .cards-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4"
            "card5";
        gap: 3em;
        width: 90%;
    }

    .cards-container a {
        max-width: 100%; /* Makes cards take up full width */
    }

    .cards-container a:nth-child(n+2) {
        margin-top: 0; /* Remove top margin from all cards */
    }
}

text {
    font-family: "Marcellus", serif;
    color: #7d0600;
}


/* 
px = pixels, absolute
em = em times the container its in 
rem = em times the root element 
% = percentage of the container its in
vh = viewport height
vw = viewport width
*/